# Ignore all input files
*.xlsx
*.xls
*.csv
*.pdf
*.spec


# Ignore your uploads folder (if that's where test files go)
input_files/
uploads/
venv/
temp_pdf_files/
projects/
build/
dist/

# Ignore Python background files
__pycache__/